@import "tailwindcss";
@import "./animations.css";
@import "./utilities.css";
@import "./header.css";
@import "./splide.css";
@import "./fonts.css";

@theme {
  --font-sans: "Fira Sans", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-xs: 500px;
  --breakpoint-sm: 668px;
  --breakpoint-md: 832px;
  --breakpoint-lg: 1001px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1536px;

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 1.875rem; /* 30px */
  --text-3xl: 2.25rem; /* 36px */
  --text-4xl: 3rem; /* 48px */
  --text-5xl: 3.75rem; /* 60px */
  --text-6xl: 4.5rem; /* 72px */
  --text-7xl: 6rem; /* 96px */
  --text-8xl: 8rem; /* 128px */
  --text-9xl: 10rem; /* 160px */

  --background-size-*: initial;
  --background-size-auto: auto;
  --background-size-cover: cover;
  --background-size-contain: contain;
  --background-size-200\%: 200%;

  --color-color-bg: #030303;
  --color-color-accent: #fb800d;
  /* --color-color-accent-dark: #c26004; */
  /* --color-color-accent-alt: #1f3a5f; */
  /* --color-color-accent: #fb800d; */
  --color-color-logo-bg: transparent;
  --color-color-logo-inner: transparent;
  --color-color-bg-top: #04070d;
  --color-color-bg-bottom: #121a26;
  /* --color-color-bg-top: #000000; */
  /* --color-color-bg-bottom: #000000; */
  --color-color-bg-top-light: #ffffff;
  --color-color-bg-bottom-light: #c8cfd6;
  --color-white: #c8cfd6;
  --color-black: #030303;
  --color-color-white-soft: #70828e;
  /* --color-color-border: #303234; */
  --color-color-kbo-accent: #b92a3f;
  --color-color-yo-accent: #10d1bb;
  --color-color-sa-accent: #3b4982;
  --color-color-ra-accent: #0077c9;

  --border-width-1: 1px;

  --shadow-dark-inner: inset 5px 5px 10px #2b353c, inset -5px -5px 10px #1e2225;

  --height-hamburger: 3rem;
  --height-hamburger-bar: 3px;
  --margin-hamburger: 3rem;

  --width-hamburger: 3rem;

  --padding-article-padding: 3rem;
  --padding-article-padding-mobile: 1rem;
  --padding-wrapper: 3rem;
  --padding-wrapper-mobile: 1rem;

  --margin-1\/2-height: 50vh;
  --margin-3\/5-height: 65vh;
  --margin-hamburger: 0.5rem;

  --container-wrapper: 110rem;
  --container-paragraph: 50rem;

  --grid-template-columns-fluid: repeat(auto-fit, minmax(23em, 1fr));

  --text-home-h1: 5rem;
  --text-home-h1-big: 5rem;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --animate-infinite-scroll: infinite-scroll 2s linear infinite;
}

@custom-variant dark (&:where(.dark, .dark *));
